html{
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{ 
    width: 100%;
    height: 200%;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.container .footer{
    height: 32.5%;
    width: 100%;
    display: flex;
}

svg{
    height: 67.5%;
    width: 100%;
}

iframe{
    width: 67.5%;
    height: 100%;
    margin: 1%;
    border-radius: 2rem;
    border: transparent;
    border-bottom-right-radius: 0;
    
}

.container .info{
    height: 100%;
    width: 25%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.container .info .info_title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5%;
}

.container .info .slider_info{
    margin-bottom: 1%;
    display:flex
}

.container .info .slider_info .slider_text{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1%;
    
}

.container .info .slider_info .slider_value{
    margin-left: auto;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1%;
}

.container .info input{
    width: 100%;
    margin: 5%;
    margin-left: 0;
    border-radius: 1rem;
    border: transparent;
    margin-top: 0;
    margin-bottom: 1%;
}


